@tailwind base;
@tailwind components;
@tailwind utilities;
 



@layer base {
  :root {
    --comfortaa-font: 'Comfortaa', sans-serif;
    /* --poppins-font: 'Poppins', sans-serif; */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
  
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Apply Poppins font to headings */

.fontT{
font-family: var(--comfortaa-font);
}
.pixel{
  background: var(--main, linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--poppins-font), serif;
}

.tech{
  background: var(--main, linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%));
background-clip: text;
-webkit-background-clip: text;
font-family: var(--poppins-font), serif;
-webkit-text-fill-color: transparent;
font-weight: 300;
line-height: normal;
} 
.btn{
  display: flex;
height: 50px;
padding: 18px 33px 17px 33px;
justify-content: center;
align-items: center;
flex-shrink: 0;
  border-radius: 40px;
background: var(--main, linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%));

}
.btn:hover{
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);

}
.skillbg{
  background: linear-gradient(143deg, rgba(219, 0, 255, 0.10) -3.42%, rgba(48, 107, 255, 0.10) 97.67%);
}
.skill{
  border-radius: 60px;
background: #FFF;
box-shadow: 0px 4px 74px 0px #F8F8F8;
}
.Shadowtopleft{
  width: 866.549px;
  height: 830.549px;
  border-radius: 866.549px;
background: rgba(188, 20, 255, 0.05);
filter: blur(18.7402400970459px);
}
.shadowtopright{
  width: 356.814px;
  height: 356.814px;
  border-radius: 356.814px;
background: rgba(113, 66, 255, 0.05);
filter: blur(18.7402400970459px);
}

.resosrcolor{
  border-radius: 4px;
background: linear-gradient(143deg, rgba(219, 0, 255, 0.05) -3.42%, rgba(48, 107, 255, 0.05) 97.67%);
}
.resourcbtn{
  display: flex;
height: 42px;
padding: 5.66px 16.981px;
justify-content: center;
align-items: center;
gap: 14.151px;
border-radius: 53.039px;
background: #CA12FE;
color: #FFF;
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resourcbtn:hover{
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);

}

.borderg{
  border: linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%);

}
.accordianorder{
  border-bottom: 1px solid #666;
box-shadow: 0px 5px 34px 0px rgba(37, 37, 37, 0.06);

}
.banner{
  border-radius: 20.49px;
  background: linear-gradient(252deg, #17CCFC 2.9%, #5D31FF 65.89%, #F35AFF 100%);
}
.tnsa{
  border-radius: 9999px;
border: 3px solid #E5E7EB;
}
.tnsa:hover{
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);

}
.footer{
  background: var(--main, linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%));
}
.priceg{
  background: linear-gradient(180deg, rgba(220, 78, 242, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.gradient{
  border-radius: 14.992px;
  background: var(--main, linear-gradient(143deg, #DB00FF -3.42%, #306BFF 97.67%));
  box-shadow: 0px 0px 37.48px 0px #F8F8F8;
}
.gradient-border {
  border-image: linear-gradient(to right, #DB00FF, #306BFF) 1;
  border-image-slice: 1;
 
}

